.card-affix {
  flex-basis: var(--card-details-width);
  margin: 0 auto;
}

.card-details {
  margin: 1rem 0 0.5rem;
}

.card-details__title {
  text-align: center;
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 25px;
  text-transform: capitalize;
}
